In [ ]:
import json
fd=open("record.json",'r')
r=fd.read()
fd.close()

In [ ]:
record=json.loads(r)

In [ ]:
prod_id=input("Enter product id:")
name=input("Enter product name:")
price=int(input("Enter the price:"))
quantity=int(input("Enter the quantity:"))
weight=int(input("Enter the weight of the product:"))
category=input("Enter product category:")


record[prod_id]={'name':name,'price':price,'quantity':quantity,'weight':weight,'category':category}
js=json.dumps(record)
fd=open("record.json",'w')
fd.write(js)
fd.close()

Enter product id:1031
Enter product name:hersheys
Enter the price:35
Enter the quantity:6
Enter the weight of the product:380
Enter product category:food

In [ ]:
record

{'1001': {'category': 'food',
  'name': 'perk',
  'price': 10,
  'quantity': 100,
  'weight': 13},
 '1002': {'50': 0,
  'category': 'food',
  'name': 'lays',
  'price': 10,
  'quantity': 0,
  'weight': 167},
 '1003': {'2': 73,
  'category': 'food',
  'name': 'icecream',
  'price': 200,
  'quantity': 75,
  'weight': 250},
 '1004': {'category': 'food',
  'name': 'cupcake',
  'price': 20,
  'quantity': 85,
  'weight': 30},
 '1005': {'5': 15,
  'category': 'food',
  'name': 'donuts',
  'price': 40,
  'quantity': 32,
  'weight': 50},
 '1006': {'2': 48,
  'category': 'food',
  'name': 'coke',
  'price': 30,
  'quantity': 50,
  'weight': 384},
 '1007': {'category': 'food',
  'name': 'doritos',
  'price': 30,
  'quantity': 85,
  'weight': 150},
 '1008': {'5': 92,
  'category': 'food',
  'name': 'kurkure',
  'price': 20,
  'quantity': 97,
  'weight': 130},
 '1009': {'category': 'food',
  'name': 'snickers',
  'price': 30,
  'quantity': 45,
  'weight': 200},
 '1010': {'7': 48,
  'category': 'food',
  'name': 'hippo',
  'price': 10,
  'quantity': 55,
  'weight': 125},
 '1011': {'category': 'food',
  'name': 'pringles',
  'price': 100,
  'quantity': 40,
  'weight': 300},
 '1012': {'category': 'food',
  'name': 'kisses',
  'price': 125,
  'quantity': 80,
  'weight': 50},
 '1013': {'category': 'food',
  'name': 'kitkat',
  'price': 50,
  'quantity': 80,
  'weight': 15},
 '1014': {'category': 'food',
  'name': 'sprite',
  'price': 120,
  'quantity': 40,
  'weight': 500},
 '1015': {'category': 'food',
  'name': 'mountaindew',
  'price': 45,
  'quantity': 20,
  'weight': 130},
 '1016': {'category': 'beauty',
  'name': 'vaseline',
  'price': 135,
  'quantity': 40,
  'weight': 125},
 '1017': {'3': 33,
  'category': 'beauty',
  'name': 'nivea',
  'price': 170,
  'quantity': 36,
  'weight': 125},
 '1018': {'category': 'eauty',
  'name': 'bodyshop',
  'price': 600,
  'quantity': 15,
  'weight': 50},
 '1019': {'category': 'eauty',
  'name': 'lipbalm',
  'price': 120,
  'quantity': 15,
  'weight': 20},
 '1020': {'category': 'beauty',
  'name': 'hairdye',
  'price': 45,
  'quantity': 95,
  'weight': 30},
 '1021': {'category': 'beauty',
  'name': 'oil',
  'price': 90,
  'quantity': 37,
  'weight': 120},
 '1022': {'category': 'beauty',
  'name': 'aloegel',
  'price': 200,
  'quantity': 15,
  'weight': 230},
 '1023': {'category': 'beauty',
  'name': 'deodrent',
  'price': 250,
  'quantity': 40,
  'weight': 150},
 '1024': {'category': 'beauty',
  'name': 'dove',
  'price': 300,
  'quantity': 75,
  'weight': 200},
 '1025': {'category': 'beauty',
  'name': 'lux',
  'price': 190,
  'quantity': 47,
  'weight': 200},
 '1026': {'category': 'beauty',
  'name': 'mist',
  'price': 175,
  'quantity': 29,
  'weight': 75},
 '1027': {'category': 'beauty',
  'name': 'shampoo',
  'price': 180,
  'quantity': 65,
  'weight': 275},
 '1028': {'category': 'beauty',
  'name': 'facetoner',
  'price': 175,
  'quantity': 39,
  'weight': 100},
 '1029': {'category': 'beauty',
  'name': 'faceserum',
  'price': 350,
  'quantity': 25,
  'weight': 65},
 '1030': {'category': 'beauty',
  'name': 'hairserum',
  'price': 450,
  'quantity': 29,
  'weight': 145}}

## code for purchasing

In [40]:

product_id=input("Enter product id to be purchased: ")
quant=int(input("Enter the quantity to be purchased: "))
if(record[product_id]['quantity'] >= quant):
  billing_amount=record[product_id]['price']*quant
  print("category",record[product_id]['category'])
  print("name",record[product_id]['name'])
  print("billing amount",billing_amount)
  new_quantity=record[product_id]['quantity']-quant
  record[product_id]['quantity']=new_quantity
  print("available quantity",new_quantity) 
else:
  print("sorry not Available")
  js=json.dumps(record)
fd=open("record.json",'w')
fd.write('js')
fd.close()

Enter product id to be purchased: 1005
Enter the quantity to be purchased: 3
category food
name donuts
billing amount 120
available quantity 21

# sales

In [34]:
sales={uid:{'id':product_id,'qn':quant,'amt':billing_amount}}

In [18]:
uid=2001

In [35]:

uid=uid+1
sales[uid]={'id':product_id,'qn':quant,'amt':billing_amount}

In [38]:
sale=json.dumps(sales)
fd=open('sale.json','a')
fd.write(sale)
fd.close()

In [37]:
sales

{2008: {'amt': 400, 'id': '1003', 'qn': 2},
 2009: {'amt': 400, 'id': '1003', 'qn': 2}}

# code for updating inventory

In [39]:
product_id=input("enter product_id to be updated:")
quantity=int(input("enter the quantity to be updated:"))
print("updated product details")
print("name:",record[product_id]['name'])
print("old quantity:",record[product_id]['quantity'])
b=record[product_id]['quantity']+quantity
record[product_id]['quantity']=b
print("new quantity:",record[product_id]['quantity'])
print("category:",record[product_id]['category'])

js=json.dumps(record)
fd=open("record.json",'w')
fd.write(js)
fd.close()

enter product_id to be updated:1003
enter the quantity to be updated:2
updated product details
name: icecream
old quantity: 73
new quantity: 75
category: food